// Here the brand variable colors 

// Background color of the page
$bg-primary-color: #1e2d3c;

// Background color of the header and the album cards
$bg-secondary-color: #2d3a47;

// Name of the album color
$album-name-color: white;

// Artist name and release year 
$album-infos-color: #7f7974;

// Spotify green elements
$green-elements: #19D861;